mixin header()
  +b.header&attributes(attributes)
    .container
      +e.A.logo(href="./")
        img(src="assets/images/logo.png")

      +e.column
        +e.burger-button.js-burger-button
          span

        +e.menu.js-burger-menu
          each link in getData('menu')
            +e.A.link(href=link.href, class=(link.anchor ? 'js-anchor' : false), class=(link.filter ? 'js-filter' : false), data-filter=(link.filter ? 'all' : false))!= link.text

        +e.filters
          each filter in getData('filters')
            +e.A.filter(href=filter.href, data-filter=filter.filter).js-filter!= filter.text

mixin ui-kit-header()
  +ui-section
    +ui-section-head
      +ui-title Шапка
      +ui-path
        p Компонент: components/header/header

    +ui-section-content(true)
      +header

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
