$default-breakpoint-name: xl;
$default-breakpoint-value: map_has_key($breakpoints, $default-breakpoint-name);
$new-breakpoints: map_remove($breakpoints, $default-breakpoint-name);
$grid-col-width: $grid-container-width/$grid-cols; // Ширина одной колонки

.grid {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;

  @include rule(margin, (xl: (-$grid-gap-vertical/$x*100vw) (-$grid-gap/2/$x*100vw) 0, lg: (-$grid-gap-vertical/$l*100vw) (-$grid-gap/2/$l*100vw) 0, sm: (-$grid-gap-vertical/$s*100vw) (-$grid-gap/2)/$s*100vw 0));

  &__col {
    box-sizing: border-box;

    @include rule(padding, (xl: ($grid-gap-vertical/$x*100vw) ($grid-gap/2/$x*100vw) 0, lg: ($grid-gap-vertical/$l*100vw) ($grid-gap/2/$l*100vw) 0, sm: ($grid-gap-vertical/$s*100vw) ($grid-gap/2/$s*100vw) 0));

    margin: 0;

    &_grow {
      flex-grow: 1;
    }

    @for $i from 1 through 15 {

      &_#{$default-breakpoint-name}_#{$i} {
        width: $i * $grid-col-width;
      }
    }

    @each $key, $val in $new-breakpoints {
      @for $i from 1 through 15 {
        @include screen($key) {

          &_#{$key}_#{$i} {
            width: $i * $grid-col-width;
          }
        }
      }
    }
  }
}
