.sitemap {
  display: block;

  &__link {
    display: block;
    transition: opacity $ease-main;
    color: $color-main;

    @include rule(font-size, (xl: 16/$x*100vw, lg: 16/$l*100vw, sm: 16/$s*100vw));

    &:hover {
      opacity: .5;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 15/$x*100vw, lg: 15/$l*100vw, sm: 15/$s*100vw));
    }
  }
}
