@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

html {
  background-color: black;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  width: $container-width;

  @include rule(padding-left, (xl: $container-padding/$x*100vw, lg: 30/$l*100vw, sm: 15/$s*100vw));
  @include rule(padding-right, (xl: $container-padding/$x*100vw, lg: 30/$l*100vw, sm: 15/$s*100vw));

  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;
}

.js-sr {
  visibility: hidden;
}

.main {
  margin-bottom: auto;

  @include rule(padding-top, (xl: 41/$x*100vw, lg: 16/$l*100vw, sm: 9/$s*100vw));
  @include rule(padding-bottom, (xl: 41/$x*100vw, lg: 38/$l*100vw, sm: 38/$s*100vw));
}

.hide-sm {
  @include rule(display, (xl: block, sm: none));
}

.show-sm {
  @include rule(display, (xl: none, sm: block));
}
