extends ../../layouts/empty
include ui-kit-mixins

block head
  - var pageTitle = projectName + ' | UI-кит'

block content
  script
    | $(window).on('load', function () {
    |   $('.ui-kit__section').each(function (i) {
    |     var id = 'section' + i;
    |     var name = $(this).find('.ui-kit__section-head h2').text();
    |     var li = $('<li></li>');
    |     var a = $('<a></a>');
    |
    |     a.attr('href', '#'+id).text(name).addClass('js-anchor');
    |     li.append(a);
    |
    |     $('.ui-kit__navigation__list').append(li);
    |     $(this).attr('id', id);
    |   });
    | });

  +b.ui-kit
    +e.navigation
      +e.UL.navigation__list

    //- Шапка ui-кита
    +e.SECTION.head&attributes(attributes)
      .container
        +e.IMG.logo(src="assets/images/logo_square.svg", alt="Логотип проекта" style="background: white; padding: 5px;")

    //- Сетка
    +ui-section._grid
      +ui-section-head
        +ui-title Сетка
        +ui-description
          p Отступы слева и справа от экрана: 22px, 30px, 15px
          p Максимальная ширина контейнера: 1440px ($container-width)
          p Брейкпойнты: 1440, 768
          p Колонок: 12
          p Горизонтальное расстояние между колонками: 110px
          p Вертикальное расстояние между колонками: 37px
          p Переменные: styles/helpers/_variables.scss
          p Блок: blocks/grid/
        +ui-description
          p <b>Возможные варианты использования</b>
          p +col(12) агалогично +col({ xl: 12 })
          p +col({ xl: 8, lg: 6, sm: 7 })
          p
            span Промежуточные брейкпоинты указывать не обязательно
            br
            span При следующей записи - блок будет занимать 6 колонок на всех разрешениях, а на самом маленьком #[i (xs)] 12
          p +col({ xl: 6, xs: 12 })

      +ui-section-content()
        +grid
          +col({xl: 4, lg: 6, sm: 12})
          +col({xl: 4, lg: 6, sm: 12})
          +col({xl: 4, lg: 12})
          +col({xl: 6, lg: 12})
          +col({xl: 6, lg: 12})

    //- Цвета
    +ui-section
      +ui-section-head
        +ui-title Цвета сайта
        +ui-path Переменные находятся в файле styles/helpers/_variables.scss
      +ui-section-content()
        +ui-elements-list()
          - var n = 0;
          while n < 30
            +ui-color._color
            - n++

    //- Шрифты
    +ui-section
      +ui-section-head
        +ui-title Шрифты
        +ui-path
          p Переменные находятся в файле styles/helpers/_variables.scss
          p Шрифты подключены в styles/helpers/_fonts.scss
        +ui-description
          p Основной шрифт: Futura ($font-main), font-weight: 300, 400, 500, 600
          p Дополнительный шрифт: Helvetica Neue ($font-second), font-weight: 400

    //- Блок button
    +ui-kit-button

    //- Компонент header
    +ui-kit-header

    //- Компонент footer
    +ui-kit-footer

    //- Компонент works
    +ui-kit-works

    //- Компонент project
    +ui-kit-project
