.button {
  display: inline-block;

  @include rule(padding, (xl: 0 31/$x*100vw 0 0, lg: 0 25/$l*100vw 0 0, sm: 0 18/$s*100vw 0 0));

  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: transparent;
  transition: color $ease-main, fill $ease-main;
  cursor: pointer;

  @include rule(font-size, (xl: 24/$x*100vw, lg: 20/$l*100vw, sm: 14/$s*100vw));

  line-height: 1;
  height: auto;
  color: white;
  fill: white;
  appearance: none;
  border-radius: 0;
  text-transform: uppercase;
  position: relative;
  letter-spacing: .025em;
  font-weight: 500;

  $b: &;

  svg {
    transition: transform $ease-main;

    @include rule(width, (xl: 7/$x*100vw, lg: 7/$l*100vw, sm: 6/$s*100vw));
    @include rule(height, (xl: 13/$x*100vw, lg: 13/$l*100vw, sm: 12/$s*100vw));

    position: absolute;

    @include rule(right, (xl: 5/$x*100vw, lg: 0));

    top: 0;

    @include rule(bottom, (xl: 1/$x*100vw, lg: 3/$l*100vw, sm: 3/$s*100vw));

    margin: auto;
  }

  &:hover {
    color: $color-main;
    fill: $color-main;

    svg {
      @include rule(transform, (xl: translate3d(5/$x*100vw, 0, 0), lg: translate3d(5/$l*100vw, 0, 0), sm: translate3d(5/$s*100vw, 0, 0)));
    }
  }

  .buttons & {

    &:last-child {
      margin-left: auto;
    }
  }
}

.buttons {
  display: block;

  &:not(:first-child) {
    @include rule(margin-top, (xl: 29/$x*100vw, lg: 18/$l*100vw, sm: 14/$s*100vw));
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
