mixin button(newTag)
  +b(newTag || 'a').button&attributes(attributes)
    span
      block
    +icon('arrow')

mixin buttons()
  +b.SECTION.buttons&attributes(attributes)
    .container
      block

mixin ui-kit-button()
  +ui-section
    +ui-section-head
      +ui-title Кнопки
      +ui-path
        p Блок: blocks/button/button

    +ui-section-content()
      +ui-elements-list()
        +button Кнопка

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
