@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox-close-small:focus::after {
  outline: none;
}

.fancybox-enabled {
  overflow: initial;
}

.fancybox-bg {
  background: black;
}

.fancybox-button {
  @include rule(width, (xl: 67px, lg: 50px));
  @include rule(height, (xl: 67px, lg: 50px));

  background: black;
  box-sizing: border-box;

  @include rule(padding, (xl: 14px, lg: 10px));

  stroke: white;
  fill: transparent;
  stroke-width: 3px;
  transition: stroke $ease-main;

  &:hover {
    stroke: $color-main;
  }
}

.fancybox-slide {
  @include rule(padding, (xl: 44px, lg: 30px, sm: 0));
}
