@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.fancybox-close-small:focus::after {
  outline: none;
}

.fancybox-enabled {
  overflow: initial;
}

.fancybox-bg {
  background: black;
}

.fancybox-button {
  @include rule(width, (xl: 67/$x*100vw, lg: 50/$l*100vw, sm: 50/$s*100vw));
  @include rule(height, (xl: 67/$x*100vw, lg: 50/$l*100vw, sm: 50/$s*100vw));

  background: black;
  box-sizing: border-box;

  @include rule(padding, (xl: 14/$x*100vw, lg: 10/$l*100vw, sm: 10/$s*100vw));

  stroke: white;
  fill: transparent;

  @include rule(stroke-width, (xl: 3/$x*100vw, lg: 3/$l*100vw, sm: 3/$s*100vw));

  transition: stroke $ease-main;

  &:hover {
    stroke: $color-main;
  }
}

.fancybox-slide {
  @include rule(padding, (xl: 44/$x*100vw, lg: 30/$l*100vw, sm: 0));
}
