// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

$x: 1440;
$l: 768;
$s: 320;

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 100%; // Максимальная ширина контейнера контента
$container-padding: 22; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 110; // Расстояние между колонками
$grid-gap-vertical: 37; // Расстояние между строками в сетке
$breakpoints: (
  'xl': 1920px,
  'lg': 1100px,
  'md': 1024px,
  'sm': 768px,
  'xs': 480px
);

// ##########
// Цвета
// ##########
$color-basic: white; // Основной цвет текста (применяется к body)
$color-placeholder: #777; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea
$color-main: #ee1086; // Основной фирменный цвет
$color-border: #ccc; // Основной цвет границ таблиц, секций
$color-blue: #1812eb;
$color-black: #010101;
$color-grey: #a9a9a9;
$color-grey-2: #adadad;

// ##########
// Массив цветов для UI-кита
// ##########
$colors: (
  '$color-basic': white,
  '$color-placeholder': #777,
  '$color-input': black,
  '$color-main': #ee1086,
  '$color-border': #ccc,
  '$color-blue': #1812eb,
  '$color-black': #010101,
  '$color-grey': #a9a9a9,
  '$color-grey-2': #adadad,
);

// ##########
// Transitions
// ##########
$ease-main: .2s ease;
$ease-long: .5s ease;

// ##########
// Шрифты
// ##########
$font-main: 'Futura', sans-serif; // Основной шрифт сайта
$font-second: 'Helvetica Neue', sans-serif; // Дополнительный шрифт

// ##########
// Цвета для UI-кита (удалить, если он отсутствует)
// ##########
$ui-kit-bg: black; // Фон кита
$ui-kit-color-text: white; // Цвет текста
$ui-kit-color-gray: #ccc; // Цвет границ
$ui-kit-color-darkbg: #111; // Фон темной секции
