include ../layouts/_externalIncludes
include ../layouts/_internalIncludes

+b.SECTION.works
  .container
    +e.grid.js-filter-works.js-works
      +e.sizer.js-work-sizer

      +e.A.work(href="work.html", data-work-type="creative, strategy")._height_1._width_1.js-work
        +e.wrapper
          img(src="assets/images/works/work_2.jpg").hide-sm
          img(src="assets/images/works/work_3.jpg").show-sm

      +e.A.work(href="work.html", data-work-type="btl, pr")._height_2._width_2.js-work
        +e.wrapper
          img(src="assets/images/works/work_3.jpg")

      +e.A.work(href="work.html", data-work-type="event")._height_1._width_1.js-work
        +e.wrapper
          img(src="assets/images/works/work_1.jpg")

      +e.A.work(href="work.html", data-work-type="smm")._height_1._width_1.js-work
        +e.wrapper
          img(src="assets/images/works/work_5.jpg")

      +e.A.work(href="work.html", data-work-type="pr")._height_2._width_2.js-work
        +e.wrapper
          img(src="assets/images/works/work_4.jpg")

      +e.A.work(href="work.html", data-work-type="event")._height_2._width_1.js-work
        +e.wrapper
          img(src="assets/images/works/work_6.jpg")

      +e.A.work(href="work.html", data-work-type="btl")._height_1._width_1.js-work
        +e.wrapper
          img(src="assets/images/works/work_8.jpg")

      +e.A.work(href="work.html", data-work-type="creative")._height_2._width_1.js-work
        +e.wrapper
          img(src="assets/images/works/work_10.jpg")

      +e.A.work(href="work.html", data-work-type="strategy")._height_1._width_1.js-work
        +e.wrapper
          img(src="assets/images/works/work_7.jpg")

      +e.A.work(href="work.html", data-work-type="smm")._height_1._width_1.js-work
        +e.wrapper
          img(src="assets/images/works/work_9.jpg")
