mixin project()
  +b.SECTION.project&attributes(attributes)
    .container
      +e.grid
        +e.col._info
          +e.UL.list
            each item in getData('info')
              +e.LI.item
                +e.H4.list-title!= item.title
                +e.P.list-content!= item.text

          +e.badges
            +e.badge
              img(src="assets/images/badges/badge_1.jpg")

            +e.badge
              img(src="assets/images/badges/badge_2.jpg")

        +e.col._texts
          +e.H1.title Промо-кампания “РЕАЛИЗУЙ МОМЕНТ”
          +e.content
            p В России проходит Чемпионат Мира по футболу - это отличный повод сделать незабываемый кадр и распечатать фотографию, чтобы радость и гордость от победы были ближе. Реализуй момент вместе с Fujifilm - печатай больше фотографий и получай призы! В России проходит Чемпионат Мира по футболу - это отличный повод сделать незабываемый кадр и распечатать фотографию, чтобы радость и гордость от победы были ближе. Реализуй момент вместе с Fujifilm - печатай больше фотографий и получай призы!
            p Реализуй момент вместе с Fujifilm - печатай больше фотографий и получай призы!

mixin ui-kit-project()
  +ui-section
    +ui-section-head
      +ui-title Информация о проекте
      +ui-path
        p Компонент: components/project/project

    +ui-section-content(true)
      +project

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
