.project {
  display: block;

  $b: &;

  &__grid {
    @include rule(display, (xl: flex, lg: block));

    flex-direction: row-reverse;
  }

  &__title {
    @include rule(font-size, (xl: 34px, sm: 26px));
    @include rule(line-height, (xl: 1, sm: 36px));

    font-weight: 600;
  }

  &__content {
    @include rule(margin-top, (xl: 28px, sm: 22px));

    font-size: 22px;
    line-height: 32px;

    p {

      &:not(:first-child) {
        margin-top: 32px;
      }
    }
  }

  &__col {

    &_texts {
      flex: 1;
    }

    &_info {
      @include rule(margin-left, (xl: 92px, lg: 0));
      @include rule(margin-bottom, (lg: 58px, sm: 29px));
      @include rule(width, (xl: 362px, lg: 100%));
      @include rule(display, (lg: flex, sm: block));

      flex-shrink: 0;
    }
  }

  &__badges {
    @include rule(margin, (xl: 17px -31px 0 0, lg: -25px -31px 0 110px, sm: 0 -15px 0));

    font-size: 0;

    @include rule(display, (xl: flex, sm: block));

    flex-shrink: 0;

    @include rule(max-width, (lg: 230px, sm: none));
    @include rule(width, (sm: auto));
    @include rule(text-align, (sm: center));
  }

  &__badge {
    @include rule(margin-right, (xl: 31px, sm: 15px));
    @include rule(margin-left, (sm: 15px));

    margin-top: 31px;

    @include rule(display, (sm: inline-block));

    img {
      width: 84px;
    }
  }

  &__list {
    margin-right: auto;

    @include rule(flex, (lg: 1, sm: 0 auto));
  }

  &__item {
    @include rule(font-size, (xl: 20px, sm: 18px));

    line-height: 28px;
    letter-spacing: .025em;
    display: flex;
    flex-wrap: wrap;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 28px, lg: 33px, sm: 27px));
    }
  }

  &__list-title {
    text-transform: uppercase;
    margin-right: 5px;
  }

  &__list-content {

  }
}
