mixin works(big, small)
  +b.SECTION.works(id=(big ? 'works' : false) data-url=(big ? 'ajax-works.html' : 'ajax-works-small.html'))&attributes(attributes).js-works-container
    block

mixin ui-kit-works()
  +ui-section
    +ui-section-head
      +ui-title Работы
      +ui-path
        p Компонент: components/works/works

    +ui-section-content(true)
      +works(true)

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
