.works {
  display: block;

  $b: &;

  &:not(:first-child) {
    @include rule(margin-top, (xl: 80/$x*100vw, lg: 32/$l*100vw, sm: 27/$s*100vw));
  }

  &__grid {
    font-size: 0;

    @include rule(margin, (xl: -9/$x*100vw, lg: -9/$l*100vw, sm: -9/$s*100vw));

    transition: height $ease-main;
  }

  &__sizer {
    @include rule(width, (xl: 33.333%, lg: 50%, sm: 100%));

    #{$b}__grid_twocol & {
      @include rule(width, (xl: 50%, sm: 100%));
    }
  }

  &__work {
    box-sizing: border-box;

    @include rule(padding, (xl: 9/$x*100vw, lg: 9/$l*100vw, sm: 10/$s*100vw));

    display: block;

    &.is-hidden {
      opacity: 0;
    }

    img {
      @include fill-img;
    }

    &_width {

      &_1 {
        @include rule(width, (xl: 33.333%, lg: 50%, sm: 100%));

        #{$b}__grid_twocol & {
          @include rule(width, (xl: 50%, sm: 100%));
        }
      }

      &_2 {
        @include rule(width, (xl: 66.666%, lg: 100%));

        #{$b}__grid_twocol & {
          width: 100%;
        }
      }
    }

    &_height {

      &_1 {
        @include rule(height, (xl: 270/$x*100vw, lg: 270/$l*100vw, sm: 234/$s*100vw));

        #{$b}__grid_twocol & {
          @include rule(height, (xl: 394/$x*100vw, lg: 234/$l*100vw, sm: 234/$s*100vw));
        }
      }

      &_2 {
        @include rule(height, (xl: 540/$x*100vw, lg: 540/$l*100vw, sm: 234/$s*100vw));

        #{$b}__grid_twocol & {
          @include rule(height, (xl: 738/$x*100vw, lg: 467/$l*100vw, sm: 234/$s*100vw));
        }
      }
    }
  }

  &__play {
    @include rule(width, (xl: 110/$x*100vw, lg: 50/$l*100vw, sm: 50/$s*100vw));
    @include rule(height, (xl: 110/$x*100vw, lg: 50/$l*100vw, sm: 50/$s*100vw));

    position: absolute;

    @include rule(border-radius, (xl: 100/$x*100vw, lg: 100/$l*100vw, sm: 100/$s*100vw));

    background-color: $color-grey-2;
    z-index: 2;
    transition: background-color $ease-main;

    @include center-image;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;

      @include rule(border-width, (xl: 27/$x*100vw 0 27/$x*100vw 44/$x*100vw, lg: 13/$l*100vw 0 13/$l*100vw 22/$l*100vw, sm: 13/$s*100vw 0 13/$s*100vw 22/$s*100vw));

      border-color: transparent transparent transparent #fff;

      @include center-image;
      @include rule(left, (xl: 14/$x*100vw, lg: 7/$l*100vw, sm: 7/$s*100vw));
    }

    #{$b}__work[href]:hover & {
      background-color: $color-main;
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: block;
    transition: opacity $ease-main;

    #{$b}__work[href]:hover & {
      opacity: .35;
    }
  }
}
