mixin works(big, small)
  +b.SECTION.works(id=(big ? 'works' : false) data-url=(big ? 'ajax-works.html' : false))&attributes(attributes).js-works-container
    if small
      .container
        +e.grid._twocol.js-works
          +e.sizer.js-work-sizer

          +e.work._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/project/picture_1.jpg")

          +e.work._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/project/picture_2.jpg")

          +e.work._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/project/picture_3.jpg")

          +e.work._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/project/picture_4.jpg")

          +e.A.work(href="https://www.youtube.com/watch?v=dkPLIw9aZwY")._height_2._width_2.js-work.js-fancybox
            +e.wrapper
              img(src="assets/images/project/picture_5.jpg")
            +e.play

mixin ui-kit-works()
  +ui-section
    +ui-section-head
      +ui-title Работы
      +ui-path
        p Компонент: components/works/works

    +ui-section-content(true)
      +works(true)

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
