mixin works(big, small)
  +b.SECTION.works(id=(big ? 'works' : false))&attributes(attributes)
    .container
      +e.grid(class=(small ? '_twocol' : false))(class=(big ? 'js-filter-works' : false)).js-works
        +e.sizer.js-work-sizer

        if big
          +e.A.work(href="work.html", data-work-type="creative")._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/works/work_2.jpg")

          +e.A.work(href="work.html", data-work-type="btl")._height_2._width_2.js-work
            +e.wrapper
              img(src="assets/images/works/work_3.jpg")

          +e.A.work(href="work.html", data-work-type="event")._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/works/work_1.jpg")

          +e.A.work(href="work.html", data-work-type="smm")._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/works/work_5.jpg")

          +e.A.work(href="work.html", data-work-type="pr")._height_2._width_2.js-work
            +e.wrapper
              img(src="assets/images/works/work_4.jpg")

          +e.A.work(href="work.html", data-work-type="event")._height_2._width_1.js-work
            +e.wrapper
              img(src="assets/images/works/work_6.jpg")

          +e.A.work(href="work.html", data-work-type="btl")._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/works/work_8.jpg")

          +e.A.work(href="work.html", data-work-type="creative")._height_2._width_1.js-work
            +e.wrapper
              img(src="assets/images/works/work_10.jpg")

          +e.A.work(href="work.html", data-work-type="strategy")._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/works/work_7.jpg")

          +e.A.work(href="work.html", data-work-type="smm")._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/works/work_9.jpg")

        if small
          +e.work._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/project/picture_1.jpg")

          +e.work._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/project/picture_2.jpg")

          +e.work._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/project/picture_3.jpg")

          +e.work._height_1._width_1.js-work
            +e.wrapper
              img(src="assets/images/project/picture_4.jpg")

          +e.A.work(href="https://www.youtube.com/watch?v=dkPLIw9aZwY")._height_2._width_2.js-work.js-fancybox
            +e.wrapper
              img(src="assets/images/project/picture_5.jpg")
            +e.play


mixin ui-kit-works()
  +ui-section
    +ui-section-head
      +ui-title Работы
      +ui-path
        p Компонент: components/works/works

    +ui-section-content(true)
      +works(true)

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
